.typin {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 2.9ch;
  
  animation: typing 2s steps(12), blink .5s infinite step-end alternate;
  overflow:hidden;
  
}
  @keyFrames typing {
    
    from { width: 0}
  }
  
  @keyFrames blink {
    50% { border-color: transparent}
  }
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

 
  
  /* @keyFrames blink {
    50% { border-color: transparent}
  } */


@tailwind base;
@tailwind components;
@tailwind utilities;
